body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: #e8eef1;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.logo {
    max-width: 640px;  /* You can adjust this value based on your logo size */
    margin-bottom: 20px;
    border-radius: 8px;  /* This will give slightly rounded corners */
}

.btn {
    display: inline-block;
    background-color: #0077b5; /* LinkedIn Color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    margin: 10px 0;
    margin-left: 12px;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn:hover {
    background-color: #005a8e;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

ul {
    width: 100%;
    max-width: 400px;
    list-style-type: none;
    padding: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

li {
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
    color: #333;
}

li:last-child {
    border-bottom: none;
}


.login-form {
    width: 100%;
    max-width: 620px;
    margin-top: 50px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-form {
    width: 100%;
    max-width: 1080px;
    margin-top: 50px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}   

.wide-input {
    width: 60%;
    font-size: small;
}

.login-form .form-control {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
}

.login-form .btn-primary {
    background-color: #0077b5;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Use !important to override Bootstrap default */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.login-form .btn-primary:hover {
    background-color: #005a8e;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    /* Use !important to override Bootstrap default */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1) !important;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-footer {
    background: none;
    border-top: none;
}

.text-muted {
    color: red;
}

.user-menu {
    position: absolute;
    right: 20px;
    top: 20px;
}

.user-icon {
    width: 50px; /* Adjust as needed */
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.logout-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background-color: #f00; /* Adjust colors as needed */
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.home-button {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #4CAF50; /* Adjust colors as needed */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
