body {
    font-family: 'Roboto', sans-serif;
    background-color: #e8eef1;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120%;
    /* max-height: 500vh; */
    margin: 0 auto;
    padding-bottom: 10%;
    padding-top: 6%;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.logo {
    width: 60%;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    background-color: #0d6efd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    margin: 10px 0;
    margin-left: 12px;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn:hover {
    background-color: #0b63e3;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.btn:click{
    background-color: #003584;
}

ul {
    width: 100%;
    max-width: 400px;
    list-style-type: none;
    padding: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

li {
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
    color: #333;
}

li:last-child {
    border-bottom: none;
}


.login-form {
    width: 100%;
    max-width: 620px;
    margin-top: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-wide-form {
    width: 80%;
    max-width: 1024px;
}

.user-data-block {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 900px;
}

.text-ceter {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.data-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wide-input {
    width: 100%;
    max-width: 700px;
    font-size: small;
}

.long-text-input {
    height: 8lh;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.login-form .form-control {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
}

.login-form .btn-primary {
    background-color: #0d6efd;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.login-form .data-form .btn-primary:hover {
    background-color: #0b63e3;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1) !important;
}

#preview {
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically if needed */
    text-align: center; /* Center text for inline or inline-block elements */
    width: 100%; /* Set the width of the div to fill its container */
    margin: auto; /* Optional: Center the div itself if it doesn't fill its container */
}

.card {
    align-items: center;
    width: 100%;
    border-radius: 8px;
}

.card-footer {
    background: none;
    border-top: none;
}

.text-muted {
    color: red;
}

.user-menu {
    position: absolute;
    right: 20px;
    top: 20px;
}

.user-icon {
    width: 50px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.logout-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background-color: lightgrey;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;    
}

.logout-button:hover {
    background-color: darkred;
}

.home-button {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: lightgrey;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
    vertical-align: middle;
}

.home-button:hover {
    background-color: #0b63e3;
}

.loader {
    border: 16px transparent;
    border-top: 16px transparent;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.footer-content a {
    color: #007bff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
