{% extends "base.html" %}
{% block content %}
    <div class="user-data-block">
        <div class="data-form login-form custom-wide-form">
            <div id="generateForm" class="card body">
                <form  method="post" class="form-floating" onsubmit="showLoadingMessage()">
                    <h2 class="card-title text-center div-center">Generate Resume</h2>

                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <div class="form-group">
                            {{ form.linkedin_url.label }}
                        <span class="text-danger">
                        </span><br>
                            {{ form.linkedin_url(class="form-control wide-input", placeholder="www.linkedin.com/in/your-name-886732123") }}
                    </div>
                    <div class="form-group">
                        {{ "Imię i Nazwisko" }}
                        <span class="text-danger"></span><br>
                        {{ form.full_name(class="form-control wide-input", placeholder="Full Name") }}
                        {% for error in form.full_name.errors %}
                            <small class="form-text text-muted">(wymagane)</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.email.label }}
                        <span class="text-danger"></span><br>
                        {{ form.email(class="form-control wide-input", placeholder="your.mail@mail.com") }}
                        {% for error in form.email.errors %}
                            <small class="form-text text-muted">(wymagane)</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        Numer telefonu
                        <span class="text-danger"></span><br>

                        {{ form.phone_number(class="form-control wide-input", placeholder="+00 123123123") }}
                        {% for error in form.phone_number.errors %}
                            <small class="form-text text-muted">(wymagane)</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.github.label }}<br>
                        {{ form.github(class="form-control wide-input", placeholder="github.com/username") }}
                    </div>

                    <div class="form-group">
                        Osobista witryna <br>
                        {{ form.personal_website(class="form-control wide-input", placeholder="ww.yourdomain.com") }}
                    </div>

                    <div class="form-group">
                        {{ form.twitter.label }}<br>
                        {{ form.twitter(class="form-control wide-input", placeholder="Twitter") }}
                    </div>

                    <div class="form-group">
                        {{ form.additionals.label }} 
                        <span class="text-danger"></span><br>
                        {{ form.additionals(class="form-control wide-input long-text-input", placeholder="Dodatkowe informacje - projekty, osiągnięcia, wolontariat etc.") }}
                        
                    </div>

                    <div class="form-group">
                        {{ form.job_description.label }} 
                        Opis stanowiska
                        <span class="text-danger"></span><br>
                        {{ form.job_description(class="form-control wide-input long-text-input", placeholder="Job Description") }}
                        
                    </div>

                    <div class="div-center">
                        {{ form.submit(class="btn btn-primary btn-block") }}
                    </div>
                </form>

            </div>
            <div id="loadingMessage" style="display: none;" class="form-ceter">
                <div class="loader">
                    <img src="{{ url_for('static', filename='images/resgen_logo_no_bg.png') }}" width="123px">
                </div>
                <p>generujemy twoje <b>CV</b>📝</p>
            </div> 
        </div>
    </div>
{% endblock %}
