{% extends "base.html" %}
{% block content %}
    <div class="row h-100 justify-content-center align-items-center">
        <div class="data-form login-form">
            <div class="card-body">
                <h2 class="card-title text-center">Generate Resume</h2>
                <form method="post" class="form-floating" onsubmit="showLoadingMessage()">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.linkedin_url.label }} <span class="text-danger">*</span><br>
                        {{ form.linkedin_url(class="form-control wide-input", placeholder="www.linkedin.com/in/your-name-886732123") }}
                        {% for error in form.linkedin_url.errors %}
                            <small class="form-text text-muted">(required)</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.full_name.label }} <span class="text-danger">*</span><br>
                        {{ form.full_name(class="form-control wide-input", placeholder="Full Name") }}
                        {% for error in form.full_name.errors %}
                            <small class="form-text text-muted">(required)</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.email.label }} <span class="text-danger">*</span><br>
                        {{ form.email(class="form-control wide-input", placeholder="your.mail@mail.com") }}
                        {% for error in form.email.errors %}
                            <small class="form-text text-muted">(required)</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.phone_number.label }} <span class="text-danger">*</span><br>
                        {{ form.phone_number(class="form-control wide-input", placeholder="+00 123123123") }}
                        {% for error in form.phone_number.errors %}
                            <small class="form-text text-muted">(required)</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.github.label }}<br>
                        {{ form.github(class="form-control wide-input", placeholder="github.com/username") }}
                    </div>

                    <div class="form-group">
                        {{ form.personal_website.label }}<br>
                        {{ form.personal_website(class="form-control wide-input", placeholder="ww.yourdomain.com") }}
                    </div>

                    <div class="form-group">
                        {{ form.twitter.label }}<br>
                        {{ form.twitter(class="form-control wide-input", placeholder="Twitter") }}
                    </div>

                    <div class="form-group">
                        {{ form.job_description.label }} <span class="text-danger">*</span><br>
                        {{ form.job_description(class="form-control wide-input", placeholder="Job Description") }}
                        {% for error in form.job_description.errors %}
                            <small class="form-text text-muted">(required)</small>
                        {% endfor %}
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        {{ form.submit(class="btn btn-primary btn-block") }}
                    </div>
                </form>
                <div id="loadingMessage" style="display: none;">
                    <p>We are generating your resume🔥... Please wait😌.</p>
                    <!-- Additional styling or animations -->
                </div>
            </div>
            <!-- Optionally, add a footer or other elements here -->
        </div>
    </div>
{% endblock %}