{% extends "base.html" %}
{% block content %}
    <div class="user-data-block">
        <div class="data-form login-form custom-wide-form">
            <div id="generateForm" class="card body">
                <form  method="post" class="form-floating" onsubmit="showLoadingMessage()">
                    <h2 class="card-title text-center div-center">Generowanie CV</h2>

                    {{ form.hidden_tag() }}
                    
                    <div class="form-group">
                        <div class="form-group">
                            URL profilu LinkedIn (wymagane)
                        <span class="text-danger">
                        </span><br>
                            {{ form.linkedin_url(class="form-control wide-input", placeholder="www.linkedin.com/in/nazwa-użytkownika-886732123") }}
                    </div>
                    <div class="form-group">
                        {{ "Imię i Nazwisko (wymagane)" }}
                        <span class="text-danger"></span><br>
                        {{ form.full_name(class="form-control wide-input", placeholder="Imię i Nazwisko") }}
                        {% for error in form.full_name.errors %}
                            <small class="form-text text-muted">(wymagane)</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        Email (wymagane)
                        <span class="text-danger"></span><br>
                        {{ form.email(class="form-control wide-input", placeholder="twój.mail@mail.com") }}
                        {% for error in form.email.errors %}
                            <small class="form-text text-muted">(wymagane)</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        Numer telefonu (wymagane)
                        <span class="text-danger"></span><br>

                        {{ form.phone_number(class="form-control wide-input", placeholder="+00 123123123") }}
                        {% for error in form.phone_number.errors %}
                            <small class="form-text text-muted">(wymagane)</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ "Github (opcjonalne)" }}
                        <span class="text-danger"></span><br>
                        {{ form.github(class="form-control wide-input", placeholder="github.com/username") }}
                    </div>

                    <div class="form-group">
                        Osobista witryna (opcjonalne)
                        <span class="text-danger"></span><br>
                        {{ form.personal_website(class="form-control wide-input", placeholder="www.twojadomena.pl") }}
                    </div>

                    <div class="form-group">
                        Twitter/X.com (opcjonalne)
                        <span class="text-danger"></span><br>
                        {{ form.twitter(class="form-control wide-input", placeholder="Twitter") }}
                    </div>

                    <div class="form-group">
                        Dodatkowe informacje (opcjonalne)<br>
                        <span class="text-danger"></span><br>
                        {{ form.additionals(class="form-control wide-input long-text-input", placeholder="Dodatkowe informacje - projekty, osiągnięcia, wolontariat etc.") }}
                        
                    </div>

                    <div class="form-group">
                        Opis stanowiska (wymagane)
                        <span class="text-danger"></span><br>
                        {{ form.job_description(class="form-control wide-input long-text-input", placeholder="Opis stanowiska pracy") }}
                        
                    </div>

                    <div class="div-center">
                        {{ form.submit(class="btn btn-primary btn-block") }}
                    </div>
                </form>

            </div>
        </div>
        <div id="loadingMessage" style="display: none;" class="form-ceter">
            <div class="loader">
                <img src="{{ url_for('static', filename='images/resgen_logo_no_bg.png') }}" width="123px">
            </div>
            <p>generujemy twoje <b>CV</b>📝</p>
        </div> 
    </div>
{% endblock %}
