<!-- register.html -->
{% extends "base.html" %}

{% block content %}
    <div class="form-ceter">
        <div class="login-form">
            <div class="card-body">
                <h2 class="card-title form-ceter">Zaloguj się</h2>
                <form action="/login" class="form-floating" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username(class="form-control", placeholder="Nazwa uytkownika") }}
                    </div>
                    <div class="form-group">
                        {{ form.password(class="form-control", placeholder="Hasło") }}
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            {{ form.remember }} Zapamiętaj mnie
                        </label>
                    </div>
                    <div class="form-ceter">
                        <button class="btn btn-primary btn-block form-ceter" type="submit">Zaloguj</button>
                    </div>
                </form>
            </div>
            <div class="card-footer form-ceter">
                Nie masz jeszcze konta? <a href="/register">Zarejestruj się</a>
            </div>
        </div>
    </div>
{% endblock %}
