<!-- register.html -->
{% extends "base.html" %}

    {% block content %}
    <div class="row h-100 justify-content-center align-items-center">
        <div class="login-form">
            <div class="card-body">
                <h2 class="card-title div-center">Zarejestruj się</h2>
                <form action="/register" method="post" class="form-floating" aria-placeholder="Zarejestruj">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username(class="form-control", id="username", placeholder="Nazwa użytkownika") }}
                    </div>
                    <div class="form-group">
                        {{ form.password(class="form-control", id="password", placeholder="Hasło") }}
                    </div>
                    <div class="form-group">
                        {{ form.confirm(class="form-control", id="confirm_password", placeholder="Powtórz Hasło") }}
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            {{ form.remember }} Zapamiętaj mnie
                        </label>
                    </div>
                    <div class="div-center">
                        {{ form.submit(class="btn btn-primary btn-block") }}
                    </div>
                </form>
            </div>

            <div class="card-footer text-center">
                Masz już konto? <a href="/login">Zaloguj</a>
            </div>
        </div>
    </div>
    {% endblock %}
